@model PhotoBlog.Models.BlogPost

@{
    ViewBag.Title = "Admin";
}

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/knockout/knockout-3.0.0.debug.js"></script>
    <script src="~/Scripts/lightbox/js/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/lightbox/js/lightbox-2.6.min.js"></script>
    <script src="~/Scripts/jquery/jquery.validate.js"></script>
    <script src="~/Scripts/client/ClientViewModel.js"></script>

    <script type="text/javascript">
        var baseUri = '@ViewBag.BlogPostsUrl',
            categoriesUri = '@ViewBag.CategoriesUrl',
            postsViewModel = new ViewModel(),
            categoriesViewModel = new CategoriesViewModel();

        function applyBindings() {
            ko.applyBindings(postsViewModel, document.getElementById("blogPost"));
            ko.applyBindings(categoriesViewModel, document.getElementById("categories"));
        }

        $(document).ready(function () {
            applyBindings();
        });
    </script>
}

<div class="blogPostsContainer">
    <div class="blogPostsNavigation">
        <div>
            <ul>
                <li>@Html.ActionLink("Home", "BlogPosts", "Client")</li>
                <li>@Html.ActionLink("Gallery", "Gallery", "Client")</li>
            </ul>
        </div>
    </div>

    <div>
        <ul id="categories" data-bind="foreach: categories">
            <li>
                <div>
                    <a data-bind="click: function() { $.getJSON(getDataUrl($data.Id), postsViewModel.collection); }, attr: { href: '', title: $data.Name}, text: $data.Name"></a>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <ul id="blogPost" data-bind="foreach: collection">
            <li>
                <div>
                    <span class="blogPostTitle" data-bind="text: $data.Title"></span>
                    <div class="blogPostContent" data-bind="text: $data.Content"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
