@model PhotoBlog.Models.BlogPost

@{
    ViewBag.Title = "Admin";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.debug.js")"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.elastic.source.js"></script>
    <script type="text/javascript">
        var BlogPostsViewModel = function (category) {
            var self = this,
                baseUri = '@ViewBag.BlogPostsUrl';
            debugger;
            if (category) {
                baseUri = baseUri + "/" + category;
            }
                

            self.blogPosts = ko.observableArray();

            self.create = function (formElement) {
                $(formElement).validate();
                if ($(formElement).valid()) {
                    $.post(baseUri, $(formElement).serialize(), null, "json")
                        .done(function (blogPost) {
                            self.blogPosts.push(blogPost);
                        });
                }
            }

            self.update = function (blogPost) {
                $.ajax({ type: "PUT", url: baseUri + '/' + blogPost.Id, data: blogPost });
            }

            self.remove = function (blogPost) {
                $.ajax({ type: "DELETE", url: baseUri + '/' + blogPost.Id })
                    .done(function () {
                        self.blogPosts.remove(blogPost);
                    });
            }

            $.getJSON(baseUri, self.blogPosts);
            //.always(function () { applyBindings(); });
        }

        var CategoriesViewModel = function() {
            var self = this,
                baseUri = '@ViewBag.CategoriesUrl';

            self.categories = ko.observableArray();
       
            $.getJSON(baseUri, self.categories);
        }


        function applyBindings() {
            ko.applyBindings(new BlogPostsViewModel(), document.getElementById("update-blogPosts"));
            ko.applyBindings(new CategoriesViewModel(), document.getElementById("categories"));
        }

        $(document).ready(function () {
            applyBindings();
        });

    </script>
}

<div class="float-left">
    <ul id="update-blogPosts" data-bind="foreach: blogPosts">
        <li>
            <div>
                <div class="item"></div> <span data-bind="text: $data.Title"></span>
            </div>
            <div>
                <div class="innerContent" data-bind="text: $data.Content"></div>
            </div>
            <div>

            </div>
        </li>
    </ul>
</div>

<div class="float-left">
    <ul id="categories" data-bind="foreach: categories">
        <li>
            <div>
                <a data-bind="click: function() { BlogPostsViewModel(this.CategoryId); }, attr: { href: '', title: $data.Name}, text : $data.Name"></a>
            </div>
        </li>
    </ul>
</div>
