html {
    background: url(images/bgEmpty.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (max-width: 320px) {

    body {
        font-size: 2em;
    }
}

html, body {
    width: 100%;
    height: 100%;
}


.wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#photoContainer:first-child {
    width: 21%;
    min-height: 100%;
    position: fixed;
    left: 0;
    border: 5px solid black;
}

#photoContainer:nth-child(2) {
    width: 58.4%;
    height: 54.6%;
    position: fixed;
    left: 21%;
}

/*.rightColumn {
    width: 20.5%;
    min-height: 100%;
    position: fixed;
    right: 0;
}

.footer {
    width: 100%;
    height: 46%;
    position: fixed;
    bottom: 0;
    left: 0;
}*/

/*body {
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: grey;
    }

/* main layout
----------------------------------------------------------*/

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}


li {
    list-style-type: none;
}

#update-blogPosts li {
    padding: 5px;
    margin-top: 50px;
}

.blogPostsContent {
    display: block;
}

blogPostsContent #category {
    border: 1px solid black;
}

#gallery {
    float: left;
    position: relative;
}

    #gallery div {
        display: inline-block;
    }


#photoCategories {
    width: 40%;
    border: 1px solid black;
    margin: 200px auto;
}

#photoCategories div {
        width: 90%;
        border: 1px solid red;
        margin: 0px auto;
    }

    #photoCategories a {
        border: 3px solid yellow;
    }

#container div {
    margin: 0px auto;
    display: inline-block;
}

.gallery {
    width: 80%;
    border: 1px solid red;
    margin: 0px auto;
}

.leftColumn:hover, .footer:hover, .rightColumn:hover {
    background: white;
    opacity: 0.5;
}*/
